*:focus{
	outline: none;
}

html, body{
	margin: 0;
	padding: 0;
	color: #222;
	font-size: 14px;
	background-color: #EEE;
	font-family: "Open Sans", sans-serif;
}

section{
	margin: 20px;
}

input[type=number]{ 
    margin: 0;
    border: 0;
    width: 6em;
    font-size: 2em;
    background: transparent;
    border-bottom: 1px solid black;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

h3{
	margin-bottom: 0.2em;
}

#names{
	display: block;
	font-size: 1.2em;
	margin-top: 20px;
}