html {
  color-scheme: light dark;
  font-family: Tahoma, Geneva, sans-serif;
}

body {
  margin: 0;
  padding: 1rem 2rem;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;

  & h1 {
    flex: 1;
  }

  & form {
    display: flex;
    gap: 1rem;
  }
}

input,
select,
textarea {
  border: 0;
  font-size: 1.6rem;
  background-color: transparent;
}

#number {
  width: 6em;
  min-width: 10ch;
  max-width: 100%;
  border-bottom: 1px solid currentColor;
  margin-bottom: 16px;

  resize: vertical;

  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
