html {
  color-scheme: light dark;
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 1rem;
}

#number {
  border: 0;
  width: 6em;
  font-size: 1.6em;
  max-width: 90vw;
  background: transparent;
  border-bottom: 1px solid currentColor;
  margin-bottom: 16px;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
